/* Copy this-------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  color: white;
}
/* ------------------------header */
header {
  padding: 15px 0 15px 0;
}
/* property of navbar links */
nav ul li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* navigation padding */
a.nav-link {
  color: white;
  position: relative;
}
a.nav-link:hover {
  color: white;
  position: relative;
}
a.nav-link::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
}
a.nav-link:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  transition: 0.3s ease-in;
}
#active::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  transition: 0.3s ease-in;
}
/* end-------------------------------------------------------------- */
#main-cont{
  min-height: 100vh;
  background-color: rgb(36,35,35);
} 
#sec-cont{
  padding: 30px 20px 30px 20px;
}
#content-cont{
  padding: 0 50px 0 50px;
}
#third-cont{
  padding: 10px 10px 10px 10px;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.content p{
  margin: 0
}
.in-content{
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2C2C;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.in-content:hover{
  transition: all 0.5s ease;
  color: black;
}
.in-content::after{
  position: absolute;
  content: '';
  top: 50;
  left: 50;
  height: 40%;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.in-content:hover::after{
  top: 50;
  left: 50;
  height: 100%;
  width: 100%;
  background-color: rgb(240, 240, 240);
  transition: 0.7s ease;
  z-index: -1;
}
.logo , .logo-text{
  padding: 0 30px 0 30px;
}
.logo i{
  font-size: 50px;
}
.logo-text{
  font-size: 30px;
  font-weight: bold;
}
/* icons */
.microsoft-icon{
  color: rgb(0,165,226);
}

.meta-icon{
  color: blue;
}
.google-icon{
  color: green;
}
.aws-icon{
  color: rgb(233,126,51);
}
.twitter-icon{
  color: rgb(28,156,234);
}
/* slide left */
@keyframes slideinleft{
  from{
    transform: translateX(-150px);
  }
  to{
    transform: translateX(0);
  }
}
.micro-slideleft{
  animation-name: slideinleft;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
.google-slideleft{
  animation-name: slideinleft;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.apple-slideleft{
  animation-name: slideinleft;
  animation-duration: 2.5s;
  animation-timing-function: ease;
}
/* slide right */
@keyframes slideinright{
  from{
    transform: translateX(150px);
  }
  to{
    transform: translateX(0);
  }
}
.meta-slideright{
  animation-name: slideinright;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
.aws-slideright{
  animation-name: slideinright;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.twitter-slideright{
  animation-name: slideinright;
  animation-duration: 2.5s;
  animation-timing-function: ease;
}