/* Copy this-------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  color: white;
}
/* ------------------------header */
header {
  padding: 15px 0 15px 0;
}
/* property of navbar links */
nav ul li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* navigation padding */
a.nav-link {
  color: white;
  position: relative;
}
a.nav-link:hover {
  color: white;
  position: relative;
}
a.nav-link::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
}
a.nav-link:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  transition: 0.3s ease-in;
}
#active::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  transition: 0.3s ease-in;
}
/* end-------------------------------------------------------------- */
/* skills */
i {
  font-size: 15px;
}
/* icon for skills */
i.skills-icons{
    font-size: 75px;
}
/* icon */
.html-icon{
  color: rgb(215,72,36);
}
.css-icon{
  color: rgb(36,73,216);
}
.javasript-icon{
  color: rgb(234,212,28);
}
.bootstrap-icon{
  color: rgb(82,58,118);
}
.php-icon{
  color: rgb(67,70,131);
}
.github-icon{
  color: rgb(11,163,232);
}
.git-icon{
  color: rgb(229,76,45);
}
.skills-row{
    position: relative;
    background-color: rgb(44, 44, 44);
    cursor: pointer;
}

.skills-row:hover{
    transition: all 0.6s ease-out;
    background-color: rgb(255, 255, 255);
    color: black;
}

.skills-row::before{
    content: '';
    border-bottom: 5px solid rgb(96, 81, 235);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    transform: scale(0, 1);
    transition: 0.3s ease;

}
.skills-row:hover::before{
    position: absolute;
    transform: scale(1, 1);
    transition: 0.5s ease;
}
.skills-title{
    padding: 45px 30px 30px 30px ;
}
/* Skills title */
.title{
    display: flex;
    align-items: center;
    
    
}
.title::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background: rgb(255, 255, 255);
    position: relative;
    left: 0;
    top: 30%;
}
.title::after{
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background: rgb(255, 255, 255);
    position: relative;
    right: 0;
    top: 30%;
}
@media screen and(max-width:900px) {
    navbar{
      float: left;
    }
}