@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  color: white;
}
/* ------------------------header */
header {
  padding: 0px 0 0 0;
}
/* my name */
.span-name {
  font-size: 4rem;
  font-weight: bolder;
}

/* property of navbar links */
nav ul li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* navigation padding */
a.nav-link {
  color: white;
  position: relative;
}
a.nav-link:hover {
  color: white;
  position: relative;
}
a.nav-link::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
}
a.nav-link:hover::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  transition: 0.3s ease-in;
}
#active::after {
  content: "";
  position: absolute;
  background-color: rgb(81, 129, 219);
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  transition: 0.3s ease-in;
}

/* ----------------------------------------- */
/* container main */
.main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/assets/images/mount3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Comet 1 */
.comet img{
  position: absolute;
  top: 0%;
  left: 20%;
  width: 10%;
  height: 20%;
}
/* comet 2 */
.comet-2 img{
  position: absolute;
  top: 0%;
  left: 20%;
  width: 10%;
  height: 20%;
}
/* comet 3 */
.comet-3 img{
  position: absolute;
  top: 0%;
  left: 20%;
  width: 10%;
  height: 20%;
}
/* comet 4 */
.comet-4 img{
  position: absolute;
  top: 0%;
  left: 20%;
  width: 10%;
  height: 20%;
}

/* Comet 1 */
@keyframes my-comet{
  0%{
    top: -300px;
    left: 20%;
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
  100%{
    top: 50%;
    left: -10%;
    transform: translateX(100px) translateY(-200px);
    opacity: 0;
  }
}
/* comet 2 */
@keyframes my-comet-2{
  0%{
    top: -100px;
    left: 80%;
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
  100%{
    top: 60%;
    left: 50%;
    transform: translateX(100px) translateY(-200px);
    opacity: 0;
  }
}
/* comet 3 */
@keyframes my-comet-3{
  0%{
    top: -200px;
    left: 40%;
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
  100%{
    top: 60%;
    left: 10%;
    transform: translateX(100px) translateY(-200px);
    opacity: 0;
  }
}

/* comet 4 */
@keyframes my-comet-4{
  0%{
    top: 0px;
    left: 90%;
    transform: translateX(0px) translateY(0px);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    top: 60%;
    left: 75%;
    transform: translateX(100px) translateY(-200px);
    opacity: 0;
  }
}

/* Comet 1 */
.comet img{
  animation: my-comet 5s ease-in-out infinite  ;
}
/* comet 2 */
.comet-2 img{
  animation: my-comet-2 6s ease-in-out infinite  ;
}
/* comet 3 */
.comet-3 img{
  animation: my-comet-3 4s ease-in-out infinite  ;
}
/* comet 4 */
.comet-4 img{
  animation: my-comet-4 3s ease-in-out infinite  ;
}
/* soc med */

.social-links i {
  text-align: center;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  font-size: 30px;
}
i {
  color: rgb(146, 146, 151);
}
i.first-icon:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
  color: rgb(144, 64, 182);
}
i.second-icon:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
  color: rgb(92, 94, 245);
}
i.third-icon:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
i.fourth-icon:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
  color: rgb(117, 119, 236);
}
@keyframes slideinright {
  from {
    transform: translateX(150px);
  }
  to {
    transform: translateX(0);
  }
}

